name: Build and Deploy Doxygen documentation

# Run this every time we push to main - or when it is triggered manually
on:
  push:
    branches: [ main ]
  workflow_dispatch:  # allow manual trigger

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    name: Generate Doxygen documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Doxygen and Graphviz
        run: sudo apt-get update && sudo apt-get install -y doxygen graphviz

      - name: Build documentation
        run: |
          cd documentation 
          doxygen doxygen.conf

      - name: Upload built site to Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: documentation/generated_documentation/html/

  deploy:
    name: Deploy to GitHub Pages
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4

